<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ShopOnline</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="<%= path === '/home' ? 'active' : '' %>"><a href="/">Home</a></li>
      <li class="<%= path === '/shopcart' ? 'active' : '' %>"><a href="/shopcart">Cart</a></li>
      <li class="<%= path === '/login' ? 'active' : '' %>"><a href="/login">LogIn</a></li>
      <li class="<%= path === 'register' ? 'active' : '' %>"><a href="/register">Register</a></li>
    </ul>
  </div>
</nav>