<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/userForm.css">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col sm-6 justify-content-md-center userAccount">
                <form action="/createUser" method="POST">    
                    <div class="text-style">
                        <input type="text" name="email" value="<%= email %>">
                    </div>
                    <div class="text-style">
                        <input type="text" name="username" placeholder="username" required = "true">
                    </div>
                    <div class="text-style">
                        <input type="password" name="password" placeholder="passowrd" required = "true">
                    </div>
                    <div class="text-style">
                        <input type="password" name="confirmpassword" placeholder="confirmpassword" required = "true">
                    </div>
                    <% if(message) { %>
                        <div class="alert alert-danger text-center">
                            <strong>Warning!</strong> <%=message %>
                        </div>
                    <% } %>
                    <div class="create-user">
                        <input type="submit" value = "Create">
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>