<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/products.css">                 
    
</head>
<body>
    <header>
        <%- include('partials/navbar'); %>    
    </header>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6 productCard">
                <div class="card cardContent">
                    <img class="card-img-top cardImg" src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg" alt="Card image cap">
                    <div class="card-body cardBody">
                        <h4 class="card-title">Title</h4>
                        <hr>
                        <div class="textCard">
                            <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's contents.asdasdsdalsadlkasdl;kasdkl;sadl;kasdkl;asdkl;asdkl;sdakl;sdakl;asdkl;asdkl;asdkl;asd;klasdkl;asdkl;sadkl;</p>
                            <div class="imageDropdown">    
                            </div>
                        </div>
                        <hr>
                            <p class="text-center">Price</p>
                        <hr>
                        <div class="cardButtons">
                            <a href="#" class="btn btn-success">Go somewhere</a>
                            <a href="#" class="btn btn-success">Go otherwere</a>
                        </div>
                      </div>
                </div>
            </div>

            <div class="col-sm-6 productCard">
                <div class="card cardContent">
                    <img class="card-img-top cardImg" src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg" alt="Card image cap">
                    <div class="card-body cardBody">
                        <h4 class="card-title">Title</h4>
                        <hr>
                        <div class="textCard">
                            <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's contents.asdasdsdalsadlkasdl;kasdkl;sadl;kasdkl;asdkl;asdkl;sdakl;sdakl;asdkl;asdkl;asdkl;asd;klasdkl;asdkl;sadkl;</p>
                            <div class="imageDropdown">    
                            </div>
                        </div>
                        <hr>
                            <p class="text-center">Price</p>
                        <hr>
                        <div class="cardButtons">
                            <a href="#" class="btn btn-success">Go somewhere</a>
                            <a href="#" class="btn btn-success">Go otherwere</a>
                        </div>
                      </div>
                </div>
            </div>
        </div> 
    </div>

</body>
</html>