<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/resetPasswordForm.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col sm-6 reset-card">
                <div class="card card-fill">
                    <form action="/update-password" method="POST">
                        <h3 class="h3 text-center">Change password</h3>
                        <hr>
                        <div class="hidden-input">
                            <input type="hidden" name="email" value="<%=email %>">
                        </div>
                        <div class="password-input">
                            <input type="password" name="password" placeholder="password" required = "true">
                        </div>
                        <div class="password-input">
                            <input type="password" name="confirmpassword" placeholder="confirmpassword" required = "true">
                        </div>
                        <div class="reset">
                            <input type="submit" name="submit" value="Set password">
                        </div>
                        <% if(error) { %>
                            <div class="alert alert-danger text-center alerta">
                                <strong>Warning!</strong> <%=error %>
                            </div>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>