<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/forgotForm.css">

</head>
<body>
    <%- include('partials/navbar') -%>
    <div class="container">
        <div class="row">
            <div class="col sm-6 justify-content-md-center">
                <div class="card register-card">
                    <div class="emailForm">
                        <p class="h3 text-center register-message">Reset-password</p>
                        <hr>
                        <form action="/forgot-password" method="POST">
                            <div class="emailfield">
                                <input type="text" name = "email" placeholder="email" required="true">
                            </div>
                            <div class="registerbutton">
                                <input type="submit" name="Register" value="Reset">
                            </div>
                        </form>
                        <% if(error) { %>
                            <div class="alert alert-danger text-center alerta">
                                <strong>Warning!</strong> <%=error %>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>