.formFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.formFrame form {
    height: 100%;
    width: 35%;
    background-color: rgba(22, 18, 2, 0.541);
    border-radius: 2%;
}

.titleStyle {
    border-bottom: 0.7px solid rgba(31, 25, 1, 0.541);
}

.titleStyle h3 {
    text-align: center;
    margin-top: 30px;
    color: blanchedalmond;
}

.usernameInput input[type = "text"] {
    color: blanchedalmond;
    display: block;
    margin: auto;
    background: transparent;
    margin-top: 30px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.7rem;
    border-bottom: 1.2px solid blanchedalmond;
}

.usernameInput input[type = "text"]::placeholder {
    color: blanchedalmond;
    text-align: center;
    font-size: 1.7rem;
}

.usernameInput input[type = "text"]:focus {
    outline: none;
}

.passwordInput input[type = "password"] {
    color: blanchedalmond;
    display: block;
    margin: auto;
    background: transparent;
    margin-top: 30px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.7rem;
    border-bottom: 1.2px solid blanchedalmond;
}

.passwordInput input[type = "password"]::placeholder {
    color: blanchedalmond;
    text-align: center;
    font-size: 1.7rem;
}

.passwordInput input[type = "password"]:focus {
    outline: none;
}

.submitButton input[type = "submit"] {
    display: block;
    margin: auto;
    margin-top: 40px;
}

.helper {
    margin-top: 10px;
    color: whitesmoke;
    text-align: center;
}