body {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg');
    
}

.userAccount {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.user-card {
    width: 50%;
    height: 60vh;
    background-color: beige;
    border: 1.5px solid rgb(146, 112, 0);
    border-radius: 7%;
}

.text-style input[type = text] {
    
    width : 50%;
    text-align: center;
    border: none;
    display: block;
    margin: auto;
    margin-top: 20px;
    outline: none;
    border-bottom: 1.5px solid rgb(224, 166, 4);
    font-size: 20px;
    background: transparent;
}

.text-style input[type = text]:focus {
    border: 1.5px solid rgb(224, 166, 4);
}

.text-style input[type = password] {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 1.5px solid rgb(224, 166, 4);
    font-size: 20px;
    background: transparent;
}

.text-style input[type = password]:focus{
    border: 1.5px solid rgb(224, 166, 4);
}

.create-user input[type = submit] {
    display: block;
    margin: auto;
    margin-top: 20px;
    border: none;
    outline: none;
    background-color: rgb(224, 166, 4);
    font-size: xx-large;
    color: whitesmoke;
    margin-top: 20px;
    border-radius: 56%;
}

.create-user input[type = submit]:hover {
    border-radius: 5%;
    border: 1.5px solid rgb(224, 166, 4);
    background-color: transparent;
    color: rgb(224, 166, 4);
}

.fulfill {
    color: rgb(131, 95, 27); 
}

.error-message {
    margin-top: 10px;
}